body {
	font-family: Josefin Sans;  
	background: #e9e9e9;
}

h1 {
  text-align: center; 
  
  text-transform: uppercase; 
  letter-spacing: 10px; 
  color: #191919; 
}

table {
	margin: 30px auto;
  border-spacing: 7px;
	
}

/*i {
	background: none;
	color: #99d3df;
	font-size: 100px;
	line-height: 100px;
	text-align: center;
}*/

.board {
	border-radius: 5%;
	background: #cdcdcd;
	height: 100px;
	width: 100px;
 	transition: all 0.25s ease;
}

.board:hover {
  transform:scale(1.1);
}



tr {
	margin: 10px 0 0 10px;
}


.cross {
	background: none;
	color: #99d3df;
	font-size: 100px;
	line-height: 100px;
	text-align: center;
}

.circle {
	background: none;
	color: #88bbd6;
	font-size: 100px;
	line-height: 100px;
	text-align: center;
}

#closeButton {
	vertical-align: middle; 
}

#winningMessage {
	text-align: center; 
	letter-spacing: 1.5px;

}

/*modal stuff*/
/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}
 
/* Inner */
/* enables the inner popup to be exactly centered no matter what the size of the screen */
.popup-inner {
    max-width:400px;
    width:90%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background: #e9e9e9;
}
 
/* Close Button */
/*.popup-close {
    width:30px;
    height:30px;
    padding-top:2px;

    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}*/
 
.popup-close:hover {
    color: #d44950;
}
